@font-face {
  font-family: Neotrax;
  src: url("/public/fonts/neotrax-regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Bristone;
  src: url("/public/fonts/Bristone.ttf");
  // font-weight: 400;
}
@mixin displayFlex($justify, $direction: row, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin textOnBG() {
  position: relative;
  img:first-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.container {
  width: 51%;
  @include displayFlex(space-between, column);
  perspective: 1300px;

  .carousel {
    width: 100%;
    height: calc(0.55 * 51vw);
    @include displayFlex(center);
    position: relative;
    transform-style: preserve-3d;

    .framedPic {
      width: 41.5%;
      display: grid;
      grid-template-columns: 1;
      grid-template-rows: 1;
      position: absolute;
      top: 0;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   inset: 0;
      //   width: 90%;
      //   height: 90%;
      //   box-shadow: 0px 0px 35px 15px #5d182d;
      //   pointer-events: none;
      //   transform: translate(5%, 5%);
      // }

      img {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        -webkit-mask-image: url("/public/verticals/frame.svg");
        -webkit-mask-size: contain;
        mask-image: url("/public/verticals/frame.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
      }
    }
    .namePlate {
      position: absolute;
      bottom: 3vw;
      color: #e63d4b;
      font-size: calc(0.04 * 48vw);
      font-family: Bristone;
    }

    .arrow {
      position: absolute;
      top: 35%;
      left: 24.5%;
      transform: translate(0%, -50%);
      width: 4.5%;
      cursor: pointer;
      z-index: 10;
    }
    .arrow:last-child {
      right: 24.5%;
      left: auto;
    }
    .light {
      position: absolute;
      bottom: -2.1vw;
      width: 100%;
      z-index: -10;
      transform: translateZ(-200px) translateX(1%);
    }
  }

  .verticals {
    width: 97%;
    height: calc(0.045 * 48vw);
    @include displayFlex(space-between);
    transform-style: preserve-3d;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 150%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1),
        transparent 40%,
        transparent 60%,
        rgba(0, 0, 0, 1)
      );
      pointer-events: none;
    }

    .vertical {
      width: calc(0.164 * 48vw);
      height: calc(0.045 * 48vw);
      z-index: 2;
      @include displayFlex(center);
      @include textOnBG();
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      p {
        color: white;
        font-size: calc(0.02 * 48vw);
        font-family: Neotrax;
      }
    }

    .verticalMain {
      width: calc(0.31 * 48vw);
      height: calc(0.075 * 48vw);
      @include displayFlex(center);
      position: absolute;
      bottom: calc(-0.015 * 48vw);
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
      // display: none;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      p {
        color: white;
        font-size: calc(0.035 * 48vw);
        font-family: Neotrax;
      }
    }
  }
}
